{% extends "layout.html" %}
{% block body %}
  {% if g.user %}
    <ul class=metanav>
    </ul>    
    {% endif %}
   
      <h1>Sample Manifest</h1>
  <table>
      <td><b>IDS ID</td>
        <td><b>PID</td>
          <td><b>Tube no.</td>
            <td><b>Cell no.</td>
              <td><b>Date out</td>
                <td><b>Shipped To</td>
                  <td><b>Sent To</td>
                    <td><b>Received Date</b></td>
      {% for entry in entries %}
      <tr><td><a href="{{ url_for('indiv_results', irs_id=entry.irs_id)}}">{{ entry.irs_id }}</a></td>
      <td>{{ entry.proj_id }}</td>
      <td>{{ entry.proj_tube_no }}</td>
      <td>{{ entry.proj_cell }}</td>
      <td>{{ entry.date_out }}</td>
      <td>{{ entry.shipped_to }}</td>
      <td>{{ entry.sent_to }}</td>
      <td>{{ entry.received_date }}</td></tr>
        {% endfor %}
    </table>
	<br>
    {% endblock %}
