{% extends "layout.html" %}
{% block body %}
  {% if g.user %}
    <ul class=metanav>
    </ul>    
    {% endif %}
   
      <h1>Sample Patient Demographics</h1>
  <table>
      <td><b>IDS ID</td>
        <td><b>Pt/Don</td>
          <td><b>Sample Res.</td>
            <td><b>Sample Type</td>
              <td><b>Source</td>
                <td><b>Accn.</td>
                  <td><b>Coll date</td>
                    <td><b>Patient name</b></td>
                    <td><b>txdate</b></td>
                    <td><b>Donor name</b></td>
                    <td><b>999.209</b></td>
                    
      {% for entry in entries %}
      <tr><td><a href="{{ url_for('indiv_results', irs_id=entry.irs_id)}}">{{ entry.irs_id }}</a></td>
      <td>{{ entry.ptdon }}</td>
      <td>{{ entry.sample_res }}</td>
      <td>{{ entry.sample_type }}</td>
      <td>{{ entry.sourcecoll }}</td>
      <td>{{ entry.sample_acc }}</td>
      <td>{{ entry.coldate }}</td>
      <td>{{ entry.pt_name }}</td>
      <td>{{ entry.txdate }}</td>
      <td>{{ entry.donor_names }}</td>
      <td>{{ entry.signed9 }}</td></tr>
        {% endfor %}
    </table>
	<br>
    {% endblock %}
