{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <ul class=metanav>
    </ul>    
    <ul class=results>
      <h2>Movement history for sample {{ entries[0].irs_id }}</h2><br>
  <table>
    <tr><td><b>IDS ID</b></td>
      <td><b>Last movement</td>
        <td><b>Shipped To</td>
        <td><b>Sent To</td></tr>

    {% for entry in entries %}
    <tr><td>{{ entry.irs_id }}</td>
	<td> {{ entry.datestamp }}</td>
  <td> {{ entry.sent_from }}</td>
  <td> {{ entry.site }}</td></tr>
  {% else %}
	<h2>Sad Panda is sad because protocol {{id}} does not exist</h2>
	</td></tr>
	<img src="/static/sad_panda.jpg" >
        {% endfor %}
  </table>
    </ul>
    {% endif %}
{% endblock %}
