{% extends "layout.html" %}
{% block body %}
  {% if g.user %}
    <ul class=metanav>
    </ul>    
    {% endif %}
   
    <ul class=results>
        {% for entry in entries %}
	<h2>{{ entry.Title }}</h2> 
	<h2>Project ID: {{ entry.Project_ID }}</a></h2>
	<h2>IR Number: {{ entry.IR_file }}</h2>
  <br></br>

	<b>Project Box</b> {{entry.project_box}}</br>
	<b>Project Cell:</b> {{ entry.project_cell }}<br>
	<b>Project Comment:</b> {{ entry.project_comment }}<br>
	<b>Dummy Tube Letter:</b> {{ entry.dummy_tubeletter }}<br>
	<b>Dummy Tube Number:</b> {{ entry.dummy_tubenumber }}<br>
	<b>Date Out:</b> {{ entry.date_out_repo }}<br>
  <b>Shipped To:</b> {{ entry.shipped_to }}<br>
  <b>Where Shipped:</b> {{entry.where_shipped }}<br>
  <b>Date Shipped:</b> {{entry.date_shipped }}<br>
  <b>Shipped by:</b> {{ entry.init_shipped }}<br>
  <br><br>
  <b>Returned to Purgatory:</b> {{ entry.date_return_purg }}<br>
  <b>Initials returned to Purgatory:</b> {{ entry.init_in_purg }}<br>
  <br><br>
  <b>Returned to Repository:</b> {{ entry.date_return_repo }}<br>
  <b>Initials returned to Repository:</b> {{ entry.init_return_repo }}<br>
  <b>Voulme remaining in sample:</b> {{ entry.vol_remain}}<br>
	<br>
	{% else %}
	<h2>This otter is disappointed</h2>
	<br>
	<img src="/static/dissapointed_otter.jpg" >
        {% endfor %}
    </ul>
    {% endblock %}
