{% extends "layout.html" %}
{% block body %}
  {% if g.user %}
<div class=metanav>
</div>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form action="{{ url_for('add_form') }}" method=post class=addstudy>
	<dl>
	    <dt> Title:    
	    <input type=text size=110 name=TITLE>
	    <dt>Protocol:
	    <input type=text size=10 name=Protocol>
	    <dt>IR File:
	    <input type=text size=10 name=IR_file>
	    <dt>Study PI:
	    <input type=text size=20 name=PI>
	    <dt>RN/Coord:
	    <input type=text size=20 name=rn_coord>
	    <dt>Review Type:
	    <input type=text size=20 name=Type>
	    </textarea>
	    <br></br>
	    <input type=submit value=Submit>
	</dl>
    </form>
    {% endif %}   
    <ul class=entries>
        <li><em>All fields optional except Protocol</em>
    </ul>
    {% endblock %}
