{% extends "layout.html" %}

{% block body %}
{% block script %}
 <script type="text/javascript" src="static/typeahead.jquery.js"></script>
<script type="text/javascript" src="/static/basicpi.js"></script>
{% endblock %}
  {% if g.user %}
<div class=metanav>
</div>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('add_form') }}" method=post class=addstudy>
    <h2>VIDD Study Database - Add Study</h2>
      <table width="600">
        <td> Title:</td>
        <td><textarea rows="4" cols="40" name=Title></textarea></td></tr>
        <td>Protocol:
	      <td><input type=text size=20 name=Protocol></td></tr>
	      <td>IRB Number:
	      <td><input type=text size=20 name=IR_file></td></tr>
      </td>
      <td>PI:</td>
      <td><div id="the-basics">
          <input class="typeahead" type="text" size=20 placeholder="PI name" name=PI></td></tr></div>
    <td>Sponsor protocol:</td><td><input type="text" size=20 name=Sponsor_protocol></tr></tr>
    <td>Study Status:</td><td><select name=studystatus>
    {% for entry in statuses %}
      <option value= "{{ entry.statustype }}">{{ entry.statustype }}</option>
    {% endfor %}
</select></td></tr>
        <td>Primary IRB</td>
        <td><select name=Primary_IRB>
             <option value="FH">FH</option>
             <option value="UW">UW</option>
             <option value="CHRMC">CHRMC</option>
             <option value="Other">Other</option>
            </select>
       </td></tr>
	     <td>Sponsor:
       <td><input type=text size=30 name=Sponsor></td></tr>
       <tr><td>IND:
       <td><select name=Ind>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
            <option value="Exempt">Exempt</option>
        </select></tr>
       <td>IND #
       <td><input type=text size=30 name=Ind_number></td></tr>
       <td>Drug name
       <td><input type=text size=30 name=Drug_name></td></tr>
    </table>
    <br><br>
    <h2>Study Population Characteristics</h2>
    <table width="600">
      <td><b>Enrollment</b></tr>
     <td>Age range:
       <td><input type=text size=20 name=Min_age></td></tr>
     <td>Study Wide Total:
       <td><input type=text size=20 name=Study_total></td></tr>
     <td>Local Accural Total:
       <td><input type=text size=20 name=Local_total></td></tr>
     <td><b>Population</b></tr>
     <td>HCT-allo<input type="checkbox" name="hctallo" value="hctallo"/></td/>
     <td>HCT-auto <input type="checkbox" name="hctauto" value="hctauto"/></td>
     <td>Heme/Onc<input type="checkbox" name="hemeonc" value="hemeonc"/></td/></tr>
     <td>Solid organ<input type="checkbox" name="solidorgan" value="solidorgan"/></td/>
     <td>Auto immune<input type="checkbox" name="autoimmune" value="autoimmune"/></td/>
     <td>BV<input type="checkbox" name="bv" value="bv"/></td/></tr>
     <td>Other<input type=text name="other"></td/></tr>
    </table
<br><br>
        <h2>Dates</h2>
    <table>
     <td>Initial Approval Date:
     <td><input type=text id="datepicker" name=IRB_approved></td></tr>
     <td>Study expiration:
     <td><input type=text id="datepicker2" name=IRB_expires></td></tr>
     <tr><td>FHCRC Renewal Date:
     <td><input type=text id="datepicker3" name=FHCRC_renewal></td></tr>
     <td>UW Renewal Date:
     <td><input type=text id="datepicker4" name=UW_renewal></td></tr>
     <td>Review Type:</td><td><select name=reviewtype>
    {% for review in reviews %}
      <option value= "{{ review.reviewtype }}">{{ review.reviewtype }}</option>
    {% endfor %}
  </table>
    <br>
    <h2>Committee Review</h2>
    <table>
      <td>PIM<input type="checkbox" name="pim" value="pim"/></td>
      <td>PIM Date:
        <input type=text id="datepicker5" name="pim_date"/></td>
      <td>EH&S<input type="checkbox" name="ehs" value="ehs"/></td>
      <td>IACUC<input type="checkbox" name="iacuc" value="iacuc"/></td></tr>
      <td>SRC<input type="checkbox" name="src" value="src"/></td>
      <td>SRC Date:
        <input type=text id="datepicker6" name="src_date" /></td>
      <td>Radiation Safety<input type="checkbox" name="radsafety" value="radsafety"/></td>
      <td>DSMB<input type="checkbox" name="dsmb" value="dsmb"/></td></tr>
      <td>PDMC<input type="checkbox" name="pdmc" value="pdmc"/></td>
      <td>PDMC Date:
        <input type=text id="datepicker7" name=pdmc_date /></td></tr>
      <td>IBC<input type="checkbox" name="ibc" value="ibc"/></td>
      <td>IBC Date:
        <input type=text id="datepicker8" name=ibc_date /></td></tr>
      <td>Other<input type="checkbox" name="other" value="other"/></td>
      <td>Other Date:
        <input type=text id="datepicker9" name=other_review_date /></td></tr>
    <td>CIM/Research Review Group<input type="checkbox" name="cim" value="cim"/></td></tr>
  <td>IRB:</td>
		<td><select name=irb_committee>
		<option value="FH A">FH A</option>
		<option value="FH B">FH B</option>
		<option value="FH C">FH C</option>
		<option value="UW A">UW A</option>
		<option value="UW B">UW B</option>
		<option value="UW C">UW C</option>
		<option value="UW D">UW D</option>
		<option value="UW G">UW G</option>
		<option value="UW J">UW J</option>
		<option value="UW K">UW K</option>
		<option value="UW E/A">UW E/A</option>
		<option value="UW E/B">UW E/B</option>
		<option value="UW E/C">UW E/C</option>
		<option value="UW E/D">UW E/D</option>
		<option value="UW J">UW J</option>
		<option value="UW E/G">UW E/G</option>
		<option value="UW E/J">UW E/J</option>
	</select>
    </table>
    <br>
     <h2>Supplements</h2>
   <table>
      <td>Type of Consent Waiver:</td>
      <td><select type=text name=consentwaiver_type>
          <option value="Partial">Partial</option>
          <option value="Full">Full</option>
          <option value="Other">Other</option>
          <option value="NA">NA</option>
    </select></td></tr>
      <td>Type of HIPAA Waiver:</td>
      <td><select type=text name=hipaawaiver_type>
          <option value="Partial">Partial</option>
          <option value="Full">Full</option>
          <option value="Other">Other</option>
          <option value="NA">NA</option>
      </select></td>
      <tr><td>Children's</td><td><input type="checkbox" name="childrens_supp"/></td>
        <tr><td>Multicenter</td><td><input type="checkbox" name="multi_supp"/></td>
          <tr><td>MTA/DUA</td><td><input type="checkbox" name="mta_dua"/></td>
            <tr><td>UW Confidentiality</td><td><input type="checkbox" name="uw_conf"/></td></tr>
            <tr><td>Repository</td><td><input type="checkbox" name="repository"/></td></tr>
            <tr><td>DOD</td><td><input type="checkbox" name="dod"/></td></tr>
            <tr><td>Device</td><td><input type="checkbox" name="device"/></td></tr>
            <tr><td>GWAS</td><td><input type="checkbox" name="gwas"/></td></tr>
            <tr><td>International</td><td><input type="checkbox" name="international"/></td></tr>
            <tr><td>Prisoner</td><td><input type="checkbox" name="prisoner"/></td></tr>
            <tr><td>Statistical Center</td><td><input type="checkbox" name="statistical_count"/></td></tr>
    </table>
    <br>
    <h2>HIPAA Authorization</h2>
    <table>
    <tr><td>Children's</td><td><input type = "checkbox" name="CRDgeneral"></td>
      <tr><td>Study Specific</td><td><input type = "checkbox" name="Studyspecific"></td>
        <tr><td>UW HIPAA</td><td><input type = "checkbox" name="UWHIPAA"></td>
          <tr><td>CRD Transplant</td><td><input type = "checkbox" name="CRD"></td>
        </td></tr>
      </table>
      <br>
	   <td><input type=submit value=Submit>
    </form>
    {% endif %}
    <ul class=entries>
        <li><em>All fields optional except Protocol</em>
    </ul>
    {% endblock %}
