{% extends "layout.html" %}
{% block body %}
  {% if g.user %}
<div class=metanav>
</div>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('new_personnel') }}" method=post class=addstudy>
    <h2>Add new personnel</h2>
      <table width="600">
       <td> Name:</td>
       <td><input type=text id="name" name=name></td>
       <td>Protocol:
       <td><input type=text size=20 name=Protocol></td></tr>
       <td>Role of individual</td>
       <td><select name=role>
        <option value="PI">PI</option>
        <option value="Sub-I">Sub-I</option>
        <option value="Study_coord">Study Coordinator</option>
        <option value="Research Assistant">Research Assistant</option>
        <option value="RN_coord">Nurse/Coordinator</option>
        <option value="Data_coord">Data Coordinator</option>
        <option value="Reg_coord">Reg Coordinator</option>
      </select>
      <td>Full name/title:
        <td><input type=text id="fullname" name=fullname></td></tr>
      <tr>
      <td>Role Assignment</td>
      <td><select name=responsibility>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
      </tr>
      <td>Date Added:
         <td><input type=text id="datepicker" name=date_added></td>
	     <td>Date Removed:
         <td><input type=text id="removed" name=date_removed></td></tr>
       <tr><td>Delegation Log Date:
         <td><input type=text id="dellog" name=dellog></td>
       </table>
       <br>
       <a href="{{ url_for('batch_upload') }}">Upload Multiple Individuals</a></br>
      <td><input type=submit value=Submit>
    </form>
    {% endif %}
    <ul class=entries>
      <li><em>All fields optional except Protocol. Use Full name field for degree(s)</em>
    </ul>
    {% endblock %}
