{% extends "layout.html" %}
{% block body %}
  {% if g.user %}
<div class=metanav>
</div>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form action="{{ url_for('add_form') }}" method=post class=addstudy>
	    <dt> Title:
      <input type=text size=110 name=Title>
      <table width="400">
        <td>Study PI:</td>
        <td><input type=text size=20 name=PI></td></tr>
	    <td>Protocol:
	    <td><input type=text size=20 name=Protocol></td></tr>
	    <td>IRB Number:
	    <td><input type=text size=20 name=IR_file></td></tr>
	    <td>UW Protocol Number:
	    <td><input type=text size=20 name=UW></td></tr>
	    <td>Committee:
	    <td><input type=text size=20 name=CTE></td></tr>
	    <td>Sponsor:
      <td><input type=text size=20 name=Funding_source></td></tr>
	    <td>RN/Coord:
	    <td><input type=text size=20 name=RN_coord></td></tr>
	    <td>Initial Approval Date:
        <td><input type=text size=20 name=IRB_approved></td></tr>
      <tr><td>Primary IRB</td>
      <td><select name=Primary_IRB>
            <option value="FH">FH</option>
            <option value="UW">UW</option>
        </select></tr>
        <tr><td>FHCRC coop</td>
      <td><select name=FHCRC_coop>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select></tr>
        <tr><td>FHCRC Renewal Date:
        <td><input type=text size=20 name=FHCRC_renewal></td></tr>
	    <td>UW Renewal Date:
        <td><input type=text size=20 name=UW_renewal></td></tr>
	    <td>IRB expires:
        <td><input type=text size=20 name=IRB_expires></td></tr>
	    <td>Study Status:
        <td><input type=text size=20 name=Accrual_status></td></tr>
	    <td>IND:
        <td><input type=text size=20 name=IND></td></tr>
	    <td>Patient Goal:
        <td><input type=text size=20 name=Pt_total></td></tr>
	    <td>Review Type:
	    <td><input type=text size=20 name=Type></td></tr>
	    </table>
	    <br></br>
	    <td><input type=submit value=Submit>
    </form>
    {% endif %}   
    <ul class=entries>
        <li><em>All fields optional except Protocol</em>
    </ul>
    {% endblock %}
