{% extends "layout.html" %}
{% block body %}
  {% if g.user %}
    <ul class=metanav>
    </ul>    
    <ul class=entries>
	<h2>{{ entries[0].Title }}</h2>
	<br>
  <h2>Protocol: <a href="{{ url_for('id_results', id_number=entries[0].Protocol )}}">{{ entries[0].Protocol }}</a>
    IR File: {{ entries[0].IR_file }}</h2>
  <table>
    <tr><td><b>Report ID</td>
        <td><b>Reported Reaction</td>
          <td><b>Report Date</td></tr>
	{% for entry in entries %}
	<td>{{ entry.Report_ID }}</td>
	<td>{{entry.Reported_RXN }}</td>
	<td>{{ entry.Date_report }}</td>
  <td><a href="{{ url_for('ae_edit', ae_id=entry.id )}}">edit</a></td></tr>

{% endfor %}
</table>
<br>
<h2>Add New AE</h2>
<form action="{{ url_for('add_ae') }}" method=post>
  <table>
    <tr><td><b>Report ID</td>
        <td><b>Reported Reaction</td>
          <td><b>Report Date</td></tr>
    <tr><td><input type=text size=20 name=Report_ID></td>
      <td><input type=text size=20 name=Reported_RXN></td>
      <td><input type=text size=20 name=Date_report></td>
      <td><input type=text size=4 name=Protocol value="{{ entries[0].Protocol }}"></tr>
    </table>
    <br>
    <input type=submit value="Add AE">
        </ul>
    <div class="footer">
  <a href="{{ url_for('id_results_mods', id_number= entries[0].Protocol ) }}">Modifications</a> |
    <a href="{{ url_for('id_results_sn', id_number= entries[0].Protocol ) }}">Study Funding</a>
</div>
  {% endif %}
  {% endblock %}
