{% extends "layout.html" %}
{% block body %}
  {% if g.user %}
    <ul class=metanav>
    </ul>    
    <ul class=entries>
	<h2>{{ entries[0].Title }}</h2>
	<br>
  <h2>Protocol: <a href="{{ url_for('id_results', id_number=entries[0].Protocol )}}">{{ entries[0].Protocol }}</a>
    IR File: {{ entries[0].IR_file }}</h2>
        <li><b>Report ID</li>
	<li>Reported Reaction</li>
	<li>Report Date</b></li>
	{% for entry in entries %}
	<br>
	<li>{{ entry.Report_ID }}</li>
	
	<li>{{entry.Reported_RXN }}</li>
        
	<li>{{ entry.Date_report }}</li>

  <li><a href="{{ url_for('ae_edit', ae_id=entry.id )}}">edit</a></li>

        {% endfor %}
    </ul>
    <div class="footer">
    <a href="{{ url_for('id_results_sn', id_number= entries[0].Protocol ) }}">Study Funding</a> |
  <a href="{{ url_for('id_results_mods', id_number= entries[0].Protocol ) }}">Modifications</a>
</div>
  {% endif %}
  {% endblock %}
