{% extends "layout.html" %}
{% block body %}
  {% if g.user %}
    <ul class=metanav>
    </ul>
    <h2>Edit AE entries</h2>
  <table>
    <tr><td><b>Protocol</td>
    <td><b>Report ID</td>
      <td><b>Reported Reaction</td>
        <td><b>Report Date</td></tr>
{% for entry in entries %}
  <form action="{{ url_for('submit_ae_edits', ae_id=entry.id) }}" method=post>
    <tr><td><input type="text" size=16 name=Protocol value={{ entry.Protocol }}></td>
  <td><input type="text" size=16 name=Report_ID value={{ entry.Report_ID }}></td>
  <td><input type="text" size = 50 name=Reported_RXN value="{{ entry.Reported_RXN }}"></td>
  <td><input type="text" size=16 name=Date_report value={{ entry.Date_report }}></td></tr>
</table>
<br>
  <td><input type="submit" value="Save Edits" /></td>
  </form>
        {% endfor %}
  {% endif %}
  {% endblock %}
