{% extends "layout.html" %}
{% block body %}
  {% if g.user %}
  {% if error %}<p class=error><strong>Error:</strong>{{ error }}{% endif %}
    <form action="{{ url_for('date_results') }}" method=post class=test>
	<dl>
	    <dt>Starting date:
	    <input type=text size=10 name=datemin>
	    </textarea>
	    <dt>Ending date:
	    <input type=text size=10 name=datemax>
	    <dt><input type=submit value="Search">
	</dl>
    </form>
    {% endif %}   
    <ul class=results>
        <em>Search based on date range of IRB approval.  Enter dates in the form MM/DD/YY</em>
    </ul>
<div class=footer>
<a href="{{ url_for('add_study') }}">Add New Study</a>
</div>
    {% endblock %}

