{% extends "layout.html" %}
{% block body %}
  {% if g.user %}
    {% block script %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
    <script type="text/javascript" src="/static/datefun.js"></script>
    {% endblock %}
    <ul class=metanav>
    </ul>    
    <ul class=funding_entries>
	{% for entry in entries %}
	<form action="{{ url_for('submit_funding_edits', funding_id= entry.id) }}" method=post class=addfunding>
  <br>
  <table>
    <tr><td><b>ID</td>
      <td><b>Funding Title</td>
       <td><b>Type of Award</td>
        <td><b>PI</td>
          <td><b>Institution</td>
            <td><b>Source</td>
              <td><b>Start Date</td>
                <td><b>End Date</td>
                <td><b>NCE</td>
                <td><b>FVAF Submit date</td>
                  <td><b>Notes</td>

  <tr><td><input type=text size=8 name=Protocol value = {{ entries[0].Protocol }} ></td>
    <td><input type=text size=15 name=Funding_Title value= "{{ entry.Funding_Title}}"></td>
    <td><select name=Award_type>
        <option value="Primary">Primary</option>
        <option value="Sub-Award">Sub-Award</option>
        <option value="Contract">Contract</option>
      </select>
      <td><input type=text size=10 name=PI value="{{ entry.PI }}"></td>
  <td><input type=text size=10 name=Institution value="{{ entry.Institution }}"></td>
  <td><input type=text size=10 name=Source value= "{{ entry.Source }}"></td>
  <td><input type=text size=10 name=start value = "{{ entry.start }}"></td>
  <td><input type=text size=10 name=end value = "{{ entry.end }}"></td>
  <td><select name=NCE>
        <option value="Y">Y</option>
        <option value="N">N</option>
    </select></td>
    <td><input type=text size=8 name=FVAF value = "{{ entry.FVAF }}"></td>
  <td><textarea name=notes cols="8" rows="4" wrap="hard" value = "{{ entry.notes }}"></textarea></td>
  {% endfor %}
</tr></table>
  <br>
	<input type=submit value="Edit Funding">
  </ul>
    {% endif %}   
    {% endblock %}
