<!doctype html>
<title>VIDD rulz</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel=stylesheet type=text/css href="http://cdn.datatables.net/1.10.8/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.11.3.js"></script>
<script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
<script src="http://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script>
  $(function() {
    $( "#datepicker").datepicker();
    $( "#datepicker2").datepicker();
    $( "#datepicker3").datepicker();
    $( "#datepicker4").datepicker();
    $( "#datepicker5").datepicker();
    $( "#datepicker6").datepicker();
    $( "#datepicker7").datepicker();
  });
</script>
<script>
  $(document).ready(function() {
      $('#basic tfoot th').each( function () {
         var title = $('#basic thead th').eq( $(this).index() ).text();
         $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
      } );

      var table = $('#basic').DataTable({
        "scrollX": true});

      table.columns().every( function () {
          var that = this;

          $( 'input', this.footer() ).on( 'keyup change', function () {
              that
                 .search( this.value )
                 .draw();
          } );
      } );
  } );

  $(document).ready(function() {
    $('#safety').dataTable({
      "scrollX": true});
      } );
</script>
<script>
  $(document).ready(function () {
        $("#dt1").datepicker({
          minDate: 0,
          onSelect: function (date) {
          var date2 = $('#dt1').datepicker('getDate');
          date2.setDate(date2.getDate() - 42);
          $('#dt2').datepicker('setDate', date2);
          //sets minDate to dt1 date - 42
          $('#dt2').datepicker('option', 'minDate', date2);
          var date3 = $('#dt1').datepicker('getDate');
          date3.setDate(date3.getDate() - 70);
          $('#dt3').datepicker('setDate', date3);
          //sets minDate to dt1 date - 70
          $('#dt3').datepicker('option', 'minDate', date3);
          var date4 = $('#dt1').datepicker('getDate');
          date4.setDate(date4.getDate());
          $('#dt4').datepicker('setDate', date4);
          //sets minDate to dt1 date
          $('#dt4').datepicker('option', 'minDate', date4);
         }
       });
        $('#dt2').datepicker({
        onClose: function () {
        var dt1 = $('#dt1').datepicker('getDate');
        console.log(dt1);
        var dt2 = $('#dt2').datepicker('getDate');
        if (dt2 <= dt1) {
          var minDate = $('#dt2').datepicker('option', 'minDate');
          $('#dt2').datepicker('setDate', minDate);
        }
     }
  });
        $('#dt3').datepicker({
        onClose: function () {
        var dt1 = $('#dt1').datepicker('getDate');
        console.log(dt1);
        var dt3 = $('#dt3').datepicker('getDate');
        if (dt3 <= dt1) {
          var minDate = $('#dt3').datepicker('option', 'minDate');
          $('#dt3').datepicker('setDate', minDate);
        }
     }
  });
        $('#dt4').datepicker({
        onClose: function () {
        var dt1 = $('#dt1').datepicker('getDate');
        console.log(dt1);
        var dt4 = $('#dt4').datepicker('getDate');
        if (dt4 <= dt1) {
          var minDate = $('#dt4').datepicker('option', 'minDate');
          $('#dt4').datepicker('setDate', minDate);
        }
     }
  });
});
</script>

<div class=page>
  <a href="{{ url_for('main') }}" style="text-decoration:none"><h1>VIDD IRB DB</h1></a>
    <div class=metanav>
    {% if g.user %}
	<a href="{{ url_for('logout') }}">log out</a>
    {% else %}
	<a href="{{ url_for('login') }}">log in</a>
    {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>

    {% endfor %}
    {% block body %}{% endblock %}
</div>
