{% extends "layout.html" %}
{% block body %}
  {% if g.user %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <h2>What would you like to do today?</h2>
  <br>
  <h3>Add New Data</h3>
  <a href="{{ url_for('add_study') }}">Add new study</a>
  <br>
  <a href="{{ url_for('add_review_committee') }}">Add Review Committee(s) Information</a>
  <br>
  <a href="{{ url_for('add_personnel') }}">Add new study personnel</a>
  <br>
  <a href="{{ url_for('add_sponsor') }}">Add new study sponsor</a>
  <br>
  <a href="{{ url_for('pre_safety') }}">Add new safety report</a>
  <br>
  <a href="{{ url_for('add_mods_front') }}">Add new modification</a>
  <br>
  Add new CRR (annual review)
  <br>
  <a href="{{ url_for('pre_docs') }}">Add new docs</a>
  <br>
  <h3>View current studies</h3>
  <table id="basic">
   <thead>
     <tr>
       <th><b>Protocol</th>
       <th><b>IR</th>
       <th><b>PI</th>
       <th><b>Study title</th>
     </tr>
   </thead>
   <tbody>
   {% for entry in entries %}
    <tr>
     <td><a href="{{ url_for('id_results', id_number=entry.Protocol) }}">{{ entry.Protocol }}</a></td>
     <td>{{ entry.IR_file }}</td>
     <td>{{ entry.PI }}</td>
     <td>{{ entry.Title }}</td>
    </tr>
    {% endfor %}
   </tbody>
 </table>
 <br></br>
  <h3>Safety reports</h3>
  <a href="{{ url_for('safety_results') }}">View all safety reports</a>
  <br></br>
  <a href="{{ url_for('get_safety') }}">Download Safety Reports</a>
  <br>

  {% endif %}
    {% endblock %}
