{% extends "layout.html" %}
{% block body %}
  {% if g.user %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <h2>What would you like to do today?</h2>
  <br>
  <h3>Add New Data</h3>
  <a href="{{ url_for('add_safety') }}">Add safety report</a>
  <br>
  <a href="{{ url_for('add_study') }}">Add new study</a>
  <br>
  <h3>Perform a query</h3>
  <a href="{{ url_for('query') }}">Query by study ID</a>
  <br>
  <a href="{{ url_for('title_query') }}">Query by title keywords</a>
  <br>
  <a href="{{ url_for('pi_query') }}">Query by PI last name</a>
  <br>
  <a href="{{ url_for('funding_query') }}">Query by funding keywords</a>
  <br>
  <h3>View summary tables</h3>
  <a href="{{ url_for('safety_results') }}">View all safety reports</a>
  {% endif %}
    {% endblock %}
