{% extends "layout.html" %}
{% block body %}
  {% if g.user %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <h2>What would you like to do today?</h2>
  <br>
  <h3>Add New Data</h3>
  <a href="{{ url_for('add_study') }}">Add new study</a>
  <br>
  <a href="{{ url_for('add_review_committee') }}">Add Review Committee(s) Information</a>
  <br>
  <a href="{{ url_for('add_personnel') }}">Add new study personnel</a>
  <br>
  <a href="{{ url_for('add_sponsor') }}">Add new study sponsor</a>
  <br>
  <a href="{{ url_for('pre_safety') }}">Add new safety report</a>
  <br>
  <a href="{{ url_for('add_mods_front') }}">Add new modification</a>
  <br>
  Add new CRR (annual review)
  <br>
  <a href="{{ url_for('pre_docs') }}">Add new docs</a>
  <br>
  <h3>View current studies</h3>
  <table id="basic">
   <thead>
     <tr>
       <th><b>Protocol</th>
       <th><b>IR</th>
       <th><b>PI</th>
       <th><b>Study title</th>
       <th><b>IR file</th>
       <th><b>CTE</th>
       <th><b>RN/coord</th>
       <th><b>IRB coord</th>
       <th><b>AE coord</th>
       <th><b>IRB approved</th>
       <th><b>IRB expires</th>
       <th><b>IRB status</th>
       <th><b>Accrual status</th>
       <th><b>Patient goal</th>
       <th><b>Patient total</th>
       <th><b>Min age</th>
       <th><b>Comments</th>
       <th><b>Cat</th>
       <th><b>Phase</th>
       <th><b>IND</th>
       <th><b>Multi-site</th>
       <th><b>FH coord</th>
       <th><b>HIPAA</th>
       <th><b>Waiver of consent</th>
       <th><b>HIPAA waiver</th>
       <th><b>UW Agreement</th>
       <th><b>Childrens Agreement</th>
     </tr>
   </thead>

   <tfoot>
     <tr>
       <th><b>Protocol</th>
       <th><b>IR</th>
       <th><b>PI</th>
       <th><b>Study title</th>
       <th><b>IR file</th>
       <th><b>CTE</th>
       <th><b>RN/coord</th>
       <th><b>IRB coord</th>
       <th><b>AE coord</th>
       <th><b>IRB approved</th>
       <th><b>IRB expires</th>
       <th><b>IRB status</th>
       <th><b>Accrual status</th>
       <th><b>Patient goal</th>
       <th><b>Patient total</th>
       <th><b>Min age</th>
       <th><b>Comments</th>
       <th><b>Cat</th>
       <th><b>Phase</th>
       <th><b>IND</th>
       <th><b>Multi-site</th>
       <th><b>FH coord</th>
       <th><b>HIPAA</th>
       <th><b>Waiver of consent</th>
       <th><b>HIPAA waiver</th>
       <th><b>UW Agreement</th>
       <th><b>Childrens Agreement</th>
     </tr>
   </tfoot>

   <tbody>
   {% for entry in entries %}
    <tr>
     <td><a href="{{ url_for('id_results', id_number=entry.Protocol) }}">{{ entry.Protocol }}</a></td>
     <td>{{ entry.IR_file }}</td>
     <td>{{ entry.PI }}</td>
     <td>{{ entry.Title }}</td>
     <td>{{ entry.IR_file }}</td>
     <td>{{ entry.CTE }}</td>
     <td>{{ entry.rn_coord }}</td>
     <td>{{ entry.IRB_coord }}</td>
     <td>{{ entry.AE_coord }}</td>
     <td>{{ entry.IRB_approved }}</td>
     <td>{{ entry.IRB_expires }}</td>
     <td>{{ entry.IRB_status }}</td>
     <td>{{ entry.Accrual_status }}</td>
     <td>{{ entry.Patient_goal }}</td>
     <td>{{ entry.Patient_total }}</td>
     <td>{{ entry.Min_age }}</td>
     <td>{{ entry.Comments }}</td>
     <td>{{ entry.Cat }}</td>
     <td>{{ entry.Phase }}</td>
     <td>{{ entry.IND }}</td>
     <td>{{ entry.Multi_site }}</td>
     <td>{{ entry.FH_coord }}</td>
     <td>{{ entry.HIPAA }}</td>
     <td>{{ entry.Waiver_of_consent }}</td>
     <td>{{ entry.HIPAA_waiver }}</td>
     <td>{{ entry.UW_agree }}</td>
     <td>{{ entry.Childrens_agree }}</td>
    </tr>
    {% endfor %}
   </tbody>
 </table>
 <br></br>
  <h3>Safety reports</h3>
  <a href="{{ url_for('safety_results') }}">View all safety reports</a>
  <br></br>
  <a href="{{ url_for('get_safety') }}">Download Safety Reports</a>
  <br>

  {% endif %}
    {% endblock %}
