{% extends "layout.html" %}
{% block body %}
  {% if g.user %}
    <ul class=metanav>
    </ul>    
    {% endif %}   
    <ul class=mod_entries>
      <h1>Modifications, CRRs, Notifications, NTF</h1>
  <form action="{{ url_for('add_mod') }}" method=post class=addmod>
	<h2>Title: {{ entries[0].Title }}</h2>
	<br>
  <h2>FHCRC IRB# {{ entries[0].Protocol }} | IR File: {{ entries[0].IR_file }} | UW Protocol #:</h2>
    <br>
    <h2>Committee:  | Correspondence notification:</h2>
<table>
  <tr><td><b>Date received</td>
      <td><b>Due Date</td>
        <td><b>Date Submitted</td>
          <td><b>Date of Expected Review</td>
            <td><b>Date back from IRO</td>
              <td><b>Approved Date</td>
                <td><b>Description</td>
                  <td><b>Submitted by</td>
                    <td><b>Comments</td>
                      <td><b>Edit</b></td></tr>
	{% for entry in entries %}
  <tr><td>{{ entry.date_received }}</td>

	<td>{{ entry.date_due }}</td>

  <td>{{ entry.Date_to_IRB }}</td>

  <td>{{ entry.Exp_date }}</td>
        
	<td>{{ entry.date_back }}</td>

	<td>{{ entry.aprvd_date }}</td>
  
  <td>{{ entry.Description }}</td>
 
  <td>{{ entry.submitted }}</td>
  
  <td>{{ entry.Comments }}</td>
  
  <td><a href="{{ url_for('mods_edit', mods_id=entry.id )}}">edit</a></td></tr>
    {% endfor %}
    <tr><td><input type=text size=10 name=Date_to_IRB></td>
	<td><input type=text size=10 name=date_due></td>
	<td><input type=text size=10 name=date_submitted></td>
	<td><input type=text size=10 name=Exp_date></td>
	<td><input type=text size=10 name=date_back></td>
	<td><input type=text size=10 name=aprvd_date></td>
	<td><input type=text size=10 name=Description></td>
	<td><input type=text size=10 name=submitted></td>
  <td><input type=text size=10 name=Comments></td></tr>
</table>
	<br>
	<li><input type=submit value="Add mod">
	
    </ul>
	<a href="{{ url_for('id_results_sn', id_number= entries[0].Protocol ) }}">Study Funding</a> |
	<a href="{{ url_for('id_results_ae', id_number= entries[0].Protocol ) }}">Adverse Events</a> 
    {% endblock %}
