{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <ul class=metanav>
    </ul>    
    {% endif %}   
    <ul class=mod_entries>
	<form action="{{ url_for('add_mod') }}" method=post class=addmod>
	<h2>{{ entries[0].Title }}</h2>
	<br>
	<h2>Protocol: {{ entries[0].Protocol }}	IR File: {{ entries[0].IR_file }}</h2>
        <li><b>Protocol</li>
	<li>Date to IRB</li>
	<li>Description</li>
	<li>Comments</b></li>
	{% for entry in entries %}
	<br>
	<li>{{ entries[0].Protocol }}</li>

	<li>{{ entry.Date_to_IRB }}</li>
	
	<li>{{entry.Description }}</li>
        
	<li>{{ entry.Comments }}</li>

        {% endfor %}
	<br>
	<li><input type=text size=10 name=Protocol value= {{ entries[0].Protocol }} ></li>
	<li><input type=text size=10 name=Date_to_IRB></li>
	<li><input type=text size=20 name=Description></li>
	<li><input type=text size=20 name=Comments></li>
	<br>
	<li><input type=submit value="Add mod">
	
    </ul>
	<a href="{{ url_for('id_results_sn', id_number= entries[0].Protocol ) }}">Study Funding</a> |
	<a href="{{ url_for('id_results_ae', id_number= entries[0].Protocol ) }}">Adverse Events</a> 
    {% endblock %}
