{% extends "layout.html" %}
{% block body %}
  {% if g.user %}
<div class=metanav>
</div>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('new_safety') }}" method=post class=addstudy>
    <h2>VIDD Study Database - Safety Reporting</h2>
      <table width="600">
        <td> Title:</td>
        <td>{{ entries[0].Title }}</td></tr>
      <td>Protocol:
        <td><input type=text size=20 name=Protocol value="{{ entries[0].Protocol }}"</td></tr>
	    <td>IRB Number:
        <td>{{ entries[0].IR_file }}</td></tr>
        <td>IACUC Number:</td>
        <td></td></tr>
        <td>Study PI:</td>
        <td>{{ entries[0].PI }}</td></tr>
	    <td>Date of Submission:
	    <td><input type=text id="datepicker" name=submit_date></td></tr>
      <tr><td>Submission Type</td>
      <td><select name=Submission_type>
            <option value="Third party safety - Not Meeting">Third Party Safety Report - Not Meeting</option>
            <option value="Third party safety - Expedited">Third Party Safety Report - Expedited</option>
            <option value="Serious Adverse Event - Local">Serious Adverse Event - Local</option>
            <option value="Noncompliance">Noncompliance</option>
            <option value="Unanticipated Event">Unanticipated Event</option>
          </select>
          <tr><td>Report ID</td>
      <td><input type=text size=10 name=Report_ID></td>
      <tr><td>Type of Report</td>
      <td><select name=Report_type>
          <option value="Initial">Initial</option>
          <option value="Follow-up">Follow-up</option>
          </select>
          <tr><td>Followup Report Number:</td>
            <td><input type=text size=20 name=FU_report_no></td></tr>
          <tr><td>Report Date</td>
            <td><input type="text" size=20 name=reportdate></tr>
            <tr><td>Investigator of Review</td>
              <td><select name="investigator">
                  <option value="Boeckh">Boeckh</option>
                  <option value="Casper">Casper</option>
                  <option value="Corey">Corey</option>
                  <option value="Fisher">Fisher</option>
                  <option value="Fredricks">Fredricks</option>
                  <option value="Green">Green</option>
                  <option value="Hill">Hill</option>
                  <option value="Jerome">Jerome</option>
                  <option value="Koelle">Koelle</option>
                  <option value="Morrow">Morrow</option>
                  <option value="Pergam">Pergam</option>
                  <option value="Posavad">Posavad</option>
                  <option value="Sahoo">Sahoo</option>
                  <option value="Schiffer">Schiffer</option>
                  <option value="Sedlak">Sedlak</option>
                  <option value="Seo">Seo</option>
                  <option value="Waghmare">Waghmare</option>
                  <option value="Wald">Wald</option>
                </select>
        <tr><td>Investigator Determination Date</td>
          <td><input type="text" size="20" name=investigator_det_date></td></tr>
        <tr><td>Date of IRB Review</td>
          <td><input type="text" size="20" name=date_IRB_review></td></tr>
        <tr><td>Date back from IRB</td>
          <td><input type="text" size="20" name=date_back_IRB></td></tr>
        <td> Comments:</td>
        <td><textarea rows="2" cols="40" name=comments></textarea></td></tr>
    </table>
	    <br></br>
      <td><input type=submit value=Submit>
    </form>
    {% endif %}   
    <ul class=entries>
        <li><em>All fields optional except Protocol</em>
    </ul>
    {% endblock %}
