{% extends "layout.html" %}
{% block body %}
 {% if g.user %}
   <ul class=metanav>
   </ul>
   <ul class=funding_entries>
	<h2>Summary of all safety reports</h2>
  <br>

  <table id="safety">
   <thead>
    <tr>
     <th><b>Protocol</th>
     <th><b>Submit Date</th>
     <th><b>Submission Type</th>
     <th><b>Report Type</th>
     <th><b>Report ID</th>
     <th><b>FU Report #</th>
     <th><b>Report Date</th>
     <th><b>Investigator</th>
     <th><b>Date IRB Review</th>
     <th><b>Date back from IRB</th>
     <th><b>Comments</b></th>
    </tr>
   </thead>
   <tbody>
    {% for entry in entries %}
    <tr>
    <td><a href="{{ url_for('id_results', id_number= entry.Protocol) }}">{{ entry.Protocol }}</a></td>
  	<td>{{ entry.submit_date }}</td>
  	<td>{{ entry.Submission_type }}</td>
  	<td>{{ entry.Report_ID }}</td>
  	<td>{{ entry.Report_type }}</td>
  	<td>{{ entry.FU_report_no }}</td>
  	<td>{{ entry.reportdate }}</td>
  	<td>{{ entry.investigator }}</td>
  	<td>{{ entry.date_IRB_review }}</td>
  	<td>{{ entry.date_back_IRB }}</td>
    <td>{{ entry.comments }}</td></tr>
{% endfor %}
  </tbody>
 </table>
  {% endif %}
    {% endblock %}
