{% extends "layout.html" %}
{% block body %}
  {% if g.user %}
    {% block script %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
    <script type="text/javascript" src="/static/datefun.js"></script>
    {% endblock %}
    <ul class=metanav>
    </ul>    
    <ul class=funding_entries>
	<form action="{{ url_for('add_funding') }}" method=post class=addfunding>
	<h2>{{ entries[0].Title }}</h2>
	<br>
	<h2>Protocol: {{ entries[0].Protocol }} </h2>
	<h2>IR File: {{ entries[0].IR_file }}</h2>
	<br>
	<li><b>Protocol</li>
        <li>PI</li>
	<li>Source</li>
	<li>Source ID</li>
	<li>Start Date</li>
	<li>End Date</li>
	<li>Notes</b></li>
	{% for entry in entries %}
	<br>
	<li>{{ entries[0].Protocol }}</li>

	<li>{{ entry.PI }}</li>

	<li>{{ entry.Source }}</li>
	
	<li>{{ entry.Source_ID }}</li>
        
	<li>{{ entry.start }}</li>
	
	<li class="date">{{ entry.end }}</li>
		
	<li>{{ entry.notes }}</li>

  <li><a href="{{ url_for('funding_edit', funding_id=entry.id )}}">edit</a></li>
  {% endfor %}
        <br>
	<li><input type=text size=10 name=Protocol value = {{ entries[0].Protocol }} ></li>
	<li><input type=text size=10 name=PI></li>
	<li><input type=text size=10 name=Source></li>
	<li><input type=text size=10 name=Source_ID></li>
	<li><input type=text size=10 name=start></li>
	<li><input type=text size=10 name=end></li>
	<li><input type=text size=30 name=notes></li>
	<br>
	<li><input type=submit value="Add Funding">
    </ul>
	<a href="{{ url_for('id_results_ae', id_number= entries[0].Protocol ) }}">Adverse Events</a> |
	<a href="{{ url_for('id_results_mods', id_number= entries[0].Protocol ) }}">Modifications</a>
    {% endif %}   
    {% endblock %}
