{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <ul class=metanav>
    </ul>    
    {% endif %}   
    <ul class=funding_entries>
	<h2>Title: {{ entries[0].Title }}</h2>
	<br>
	<h2>Protocol: {{ entries[0].Protocol }} </h2>
	<h2>IR File: {{ entries[0].IR_file }}</h2>
	<br>
        <li><b>PI</li>
	<li>Source</li>
	<li>Source ID</li>
	<li>Start Date</li>
	<li>End Date</li>
	<li>Notes</b></li>
	
	{% for entry in entries %}
	<br>
	<li>{{ entry.PI }}</li>

	<li>{{ entry.Source }}</li>
	
	<li>{{ entry.Source_ID }}</li>
        
	<li>{{ entry.start }}</li>
	
	<li>{{ entry.end }}</li>
		
	<li>{{ entry.notes }}</li>

	{% else %}
	<h2>Sad Panda is sad because protocol {{ entry.id }} does not exist</h2>
	<br>
	<img src="/static/sad_panda.jpg" >
        {% endfor %}
    </ul>
	<a href="{{ url_for('id_results_ae', id_number= entries[0].Protocol ) }}">Adverse Events</a>
    {% endblock %}
