{% extends "layout.html" %}
{% block body %}
{% if g.user %}
 {% block script %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
  <script type="text/javascript" src="/static/datefun.js"></script>
    {% endblock %}
    {% endif %}
    <ul class=mod_entries>
   <table>
       <td><b>Name</td>
         <td>Type of training</td>
         <td>Most Recent</td>
           <td>Expiration Date</b></td></tr>
       {% for entry in entries %}
       <tr><td>{{ entry.Name }}</td>
         <td>{{ entry.Type }}</td>
         <td>{{ entry.Most_recent }}</td>
         <td class="date">{{ entry.Good_until }}</td>
       <td><a href="{{ url_for('training_edit', training_id = entry.id )}}">edit</a></td></tr>


             {% endfor %}
           </table>
               {% endblock %}
