{% extends "layout.html" %}
{% block body %}
{% if g.user %}
 {% block script %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
  <script type="text/javascript" src="/static/datefun.js"></script>
    {% endblock %}
    {% endif %}
    <ul class=mod_entries>
      <form action={{ url_for('add_training') }} method=post>
        <h1>Human Subjects Training</h1>
        <table>
       <td><b>Name</td>
         <td><b>Type of training</td>
         <td><b>Most Recent</td>
           <td><b>Expiration Date</td></tr>
       {% for entry in entries %}
       <tr><td>{{ entry.Name }}</td>
         <td>{{ entry.Type }}</td>
         <td>{{ entry.Most_recent }}</td>
         <td class="date">{{ entry.Good_until }}</td>
       <td><a href="{{ url_for('training_edit', training_id = entry.id )}}">edit</a></td></tr>


             {% endfor %}
           </table><br>
           <i>Add new individual</i>
           <br><table>
       <td><b>Name</td>
         <td><b>Type of training</td>
           <td><b>Most Recent</td>
             <td><b>Expiration Date</td></tr>
     <td><input type=text size=16 name=Name></td>
     <td><select name=Type>
          <option value="In House Human Subjects">In House Human Subjects</option>
          <option value="CITI Human Subjects">CITI Human Subjects</option>
          <option value="Refresher in-house">In House Refresher</option>
          <option value="Refresher CITI">CITI Refresher</option>
          <option value="GCP">GCP</option>
          <option value="Other">Other</option>
        </select>
          <td><input type="text" size=16 name=Most_recent></td>
          <td><input type="text" size=16 name=Good_until></td></tr>
      </table>
      <br>
      <input type="submit" value="Add New Individual" />
      </form>

               {% endblock %}
