{% extends "layout.html" %}
{% block body %}
{% if g.user %}
<ul class=metanav>
</ul>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form action="{{ url_for('add_form') }}" method=post class=addstudy>
      <dl>
        <h2>Screening and Randomization</h2>
        <table>
        <tr><td>Allocation #</td>
          <td><input type=text size=20 name=allocation></tr>
            <td>UW ID:</td>
            <td><input type=text size=10 name=uw_id></td></tr>
          <tr><td>Initials:</td>
            <td><input type=text size=10 name=initials></td>
            <td>Date of Birth:</td>
            <td><input type=text size=10 name=dob></td></tr>
          <tr><td>Hispanic?</td>
            <td><select name=hispanic>
                <option value="N">No</option>
                <option value="Y">Yes</option>
                <option value="U">Prefer not to say</option>
              </select>
          <td>Gender</td>
            <td><select name=gender>
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="O">Other</option>
              </select>
              <tr><td>Ethnicity</td>
            <td><select name=ethnicity>
          <option value="White">White</option>
          <option value="AmInd">Am Indian/Alaska Native</option>
          <option value="Asian">Asian</option>
          <option value="HiPac">Native Hawaiian/Pac. Islander</option>
          <option value="AfrAm">Black/Afr Am</option>
          <option value="Unknown">Unknown/Prefer not to say</option>
        </select>
        </table>
        <br>
        <h2>Consent Information</h2>
        <table>
        <tr><td>Consent</td>
          <td><select name=consent>
          <option value="signed">Signed</option>
          <option value="refused">Refused</option>
          <option value="ineligible">Not eligible</option>
    </select></td></tr>
          <tr><td>Consent Reason</td>
          <td><input type=text size=30 name=consent_reason></td></tr>
        <tr><td>Randomize Date</td>
          <td><input type=text size=20 name=randomize></td></tr>
        <tr><td>Baseline #</td>
          <td><input type=text size=20 name=baseline></tr>
          <tr><td> UPN:</td>
            <td><input type=text size=10 name=upn></td>
        <tr><td>Patient User ID #</td>
          <td><input type=text size=20 name=pt_userid></tr>
    </table>
    <br>
    <h2>Transplant Info and Infection Dates</h2>
    <table>
    <tr><td>Tx type:</td>
            <td><input type=text size=10 name=txtype value = "auto"></td></tr>
    <tr><td>Tx Date:</td>
      <td><input type=text size=20 name=txdate></td></tr>
    <tr><td>Injection 1:</td>
      <td><input type=text size=20 name=injection1></td></tr>
</table>
	    <br></br>
	    <input type=submit value=Submit>
	</dl>
    </form>
    <ul class=entries>
        <em>All fields optional except txdate and allocation.  Add dates in the form MM/DD/YYYY</em>
    </ul>
{% endif %}
    {% endblock %}
