{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }} {% endif %}
  {% if session.logged_in %}
    <form action="{{ url_for('bv_results') }}" method=post class=test>
	<dl>
	    <dt>BV status:
	<select name=option>
    <option value="0">0</option>
    <option value="1">1</option>
  </select>
  <input type=submit value="Submit">
	</dl>
    </form>
    {% endif %}   
    <ul class=entries>
        <li><em>Choose a BV status (0 or 1) to list all visits with that status</em>
    </ul>
    {% endblock %}
