{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }} {% endif %}
  {% if session.logged_in %}
  <br><br>
  Welcome to Fredrickslab database
  <br>
  <br>
  <b>Searches available:</b><br>

  <a href="{{ url_for('query') }}"> Search by ID</a><br>
  <a href="{{ url_for('bv_query') }}">Search by BV status</a><br>
  <a href="{{ url_for('isolate_query') }}">Search by isolate number</a><br>
  <br>
  <b>Utilities Available:</b><br>
  Generate FASTA from existing sequences<br>
  Local BLAST search<br>
    {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    
    {% endfor %}
    {% endblock %}
</div>
