{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }} {% endif %}
  {% if session.logged_in %}
  <br>
  <h1>Welcome to Fredricks Lab database</h1>
  <br>
  <b>Searches available:</b><br>

  <a href="{{ url_for('query') }}"> Search by ID</a><br>
  <a href="{{ url_for('bv_query') }}">Search by BV status</a><br>
  <a href="{{ url_for('isolate_query') }}">Search by isolate number</a><br>
  <br>
  <b>Utilities Available:</b><br>
  <a href="../current_seqs.fasta" target="_blank">Generate FASTA from existing sequences</a><br>
  Local BLAST search<br>
    {% endif %}
    {% endblock %}
</div>
