{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <ul class=metanav>
</ul>
    <ul class=indiv.entries>
	<h2>Patient ID: {{ entries[0].id }}</h2>
        {% for entry in entries %}
	<h2>{{ entry.visitdt }}</h2>
	<b>visit:</b> {{entry.visit}}
        <br>
	<b>dxnotes:</b> {{ entry.dxnotes }}<br>
	<b>stddx:</b>{{ entry.stddx }} <br>
	<b>cvexam:</b> {{ entry.cvexam }}<br>
	<b>cvnotes:</b> {{ entry.cvnotes }}<br> 
        <br></br>
	{% endfor %}
    </ul>
    {% endif %}
  {% if not session.logged_in %}
    Please login to continue
    {% endif %}
    {% endblock %}
