{% extends "layout.html" %}
{% block body %}
{% if g.user %}
<ul class=metanav>
</ul>
{% endif %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form action="{{ url_for('add_form') }}" method=post class=addstudy>
      <dl>
        <h2>Basic Demographics</h2>
        <table>
          <tr><td> Subject ID:</td>
            <td><input type=text size=10 name=subject_ID></td>
            <td>UW ID:</td>
            <td><input type=text size=10 name=uwid></td></tr>
          <tr><td><i>Enter 4 digit unique ID</i></td></tr>
            <td>Name:</td>
            <td><input type=text size=10 name=Name></td>
            <td>Initials:</td>
            <td><input type=text size=10 name=pt_init></td></tr>
            <td>Status:</td>
            <td><input type=text size=10 name=Status></td>
            <td>Donor/Recipient:</td>
            <td><select name=Donrep>
            <option value="Donor">Donor</option>
            <option value="Recipient">Recipient</option>
          </select>
          <tr><td>Conditioning Start Date</td>
            <td><input type=text size=10 name=conditioning_start_date></td></tr>
        </table>
        <br>
    <h2>Transplant Info Dates</h2>
    <table>
    <tr><td>Expected Pre Tx:</td>
      <td><input type=text size=20 name=Expected_pre_tx></td></tr>
    <tr><td>Received Pre Tx:</td>
      <td><input type=text size=20 name=Received_pre_tx></td></tr>
    <tr><td>Tx Date:</td>
      <td><input type=text size=20 name=txdate></td></tr>
</table>
	    <br>
	    <input type=submit value=Submit>
	</dl>
    </form>
    <ul class=entries>
      <em>All fields optional except txdate and Subject ID.  Enter dates in form MM/DD/YYYY</em>
    </ul>
    {% endblock %}
