  {% extends "layout.html" %}
  {% block body %}
  {% block script %}
    {% endblock %}
  <ul class=metanav>
  </ul>
    {% if error %}<p class=error><strong>Error</strong> {{ error }}{% endif %}
    <h2>Summary of all checks written for study</h2>
    <br>
    <div class="container">
    <table id="basic" class="display">
      <thead>
        <tr>
          <th><b>Study ID</th>
            <th><b>Initials</th>
              <th><b>Number of checks</th>
        </tr>
      </thead>
      <tbody>
      {% for entry in entries %}
      <tr>
        <td><a href="{{ url_for('id_edit', id_number=entry.Subject_ID)}}">{{ entry.Subject_ID }}</a></td>
        <td>{{ entry.pt_init }}</td>
        <td>{{ entry.checktotal }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
