{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong>{{ error }}{% endif %}
  <form action="{{ url_for('drop_subject') }}" method=post class=test>
    <h2>Remove patient from study</h2>
    <table>
      <tr><td><b>Subject ID</td></tr>
          <td><select name=Subject_ID>
              {% for entry in entries %}
              <option value="{{ entry.Subject_ID }}"> {{ entry.Subject_ID }}</option>
              {% endfor %}
  </table>
  <br>
    <input type=submit value="Drop Subject">
    </form>
    {% endblock %}
