{% extends "layout.html" %}
{% block body %}
{% if g.user %}
<ul class=metanav>
</ul>
{% endif %}
  {% if error %}<p class=error><strong>Error</strong> {{ error }}{% endif %}

  {% for entry in entries %}
      <dl>
        <h2>Screening and Randomization</h2>
        <table>
          <tr><td><b>Subject ID</td>
            <td>{{ entry.Subject_ID }}</td>
            <td><b>UW ID</td>
            <td>{{ entry.uwid }}</td></tr>
          <tr><td><b>Name</td>
            <td>{{ entry.Name }}</td>
          <tr><td><b>Initials</td>
            <td>{{ entry.pt_init }}</td>
            <td><b>Status</td>
            <td>{{ entry.Status }}</td></tr>
          <tr><td><b>Donor/Recipient</td>
            <td>{{ entry.Donrep }}</td>
              </table>
        <br>
        <h2>Sample Info and Collection Dates</h2>
        <table id="indiv">
          <thead>
            <tr>
              <th>Event</th>
              <th>Event Date</th>
              <th>Week</th>
              <th>Sample Type</th>
            </tr>
          </thead>
          <tbody>
          {% for entry in evententries %}
          <tr>
            <td>{{ entry.event }}</td>
            <td>{{ entry.eventdate }}</td>
            <td>{{ entry.week }}</td>
            <td>{{ entry.sample }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  <br>
      {% else %}
      <h2>Sorry, that value does not exist in the database</h2>
  {% endfor %}
	</dl>
    {% endblock %}
