{% extends "layout.html" %}
{% block body %}
{% if g.user %}
<ul class=metanav>
</ul>
{% endif %}
  {% if error %}<p class=error><strong>Error</strong> {{ error }}{% endif %}
    <form action="{{ url_for('id_edit', id_number=Subject_ID) }}" method=post class=addstudy>
      {% for entry in entries %}
      <dl>
        <h2>Screening and Randomization</h2>
        <table>
          <tr><td>Subject ID</td>
            <td><input type=text size=20 name=subject_ID value="{{ entry.subject_ID }}"></td>
            <td>UW ID</td>
            <td><input type=text size=20 name=uwid value="{{ entry.uwid }}"></td></tr>
          <tr><td>Name</td>
            <td><input type=text size=20 name=Name value="{{ entry.Name }}"></td>
          <tr><td>Initials</td>
            <td><input type=text size=20 name=pt_init value="{{ entry.pt_init }}"></td>
            <td>Status</td>
            <td><input type=text size=20 name=Status value="{{ entry.Status }}"></td></tr>
          <tr><td>Donor/Recipient</td>
            <td><input type=text size=20 name=Donrep value="{{ entry.Donrep }}"></td>
              </table>
        <br>
        <h2>Sample Info and Collection Dates</h2>
        <table>
          <tr><td>Event</td><td>Event Date</td><td>Week</td></tr>
          {% for entry in evententries %}
          <tr><td>{{ entry.event }}</td><td>{{ entry.eventdate }}</td><td>{{ entry.week }}</td></tr>
      {% endfor %}
      </table>
  <br>
    <input type=submit value=Submit>
      {% else %}
      <h2>Sorry, that value does not exist in the database</h2>
  {% endfor %}
	</dl>
    </form>
    <ul class=entries>
        <em>Update accordingly</em>
    </ul>
    {% endblock %}
