<!doctype html>
<title>Microbiome Study</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <a href="{{ url_for('main') }}" style="text-decoration:none"><h1>Microbiome Study Tracking Form</h1></a>
  <div class=metanav>
</div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    
    {% endfor %}
    {% block body %}{% endblock %}
</div>
