{% extends "layout.html" %}
{% block body %}
{% block script %}
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="/static/datefun.js"></script>
  {% endblock %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<h2>What would you like to do today?</h2>
<br>
<a href="{{ url_for('add_event_form') }}">Add New Event</a>
<br>
<a href="{{ url_for('add_subject') }}">Enroll New Subject</a>
<br>
<a href="{{ url_for('query') }}">Edit Enrolled Subject</a>
<br>
<a href="{{ url_for('drop_subject_form') }}">Drop Subject From Study</a>
<br>
<br>
<h2>Send or receive kit</h2>
<a href="{{ url_for('send_kits_form') }}">Send Out Kit</a>
<br>
<a href="{{ url_for('receive_kits_form') }}">Receive Kit</a>
<br><br>
<h2>Current status of kits</h2>
<table>
  <tr><td><b>Subject ID</td><td><b>Number of kits</td></tr>
      {% for entry in entries %}
      <td>{{ entry.Subject_ID }}</td><td>{{ entry.count }}</td></tr>
    {% endfor %}
  </table>
<br>
<h2>Summarize data</h2>
<a href="{{ url_for('all_subjects') }}">View All Enrolled Subjects</a>
<br>
<a href="{{ url_for('summarize_indivs') }}">View Counts for All Subjects</a>
<br>
<a href="{{ url_for('get_archives') }}">Download Archive of Database</a>
<br>
  {% endblock %}
