{% extends "layout.html" %}
{% block body %}
{% block script %}
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="/static/datefun.js"></script>
{% endblock %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<h2>What would you like to do today?</h2>
<br>
<a href="{{ url_for('add_subject') }}">Enroll New Subject</a>
<br>
<a href="{{ url_for('query') }}">Edit Enrolled Subject</a>
<br>
<a href="{{ url_for('all_subjects') }}">View All Enrolled Subjects</a>
<br>
  {% endblock %}
