{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong>{{ error }}{% endif %}
  <form action="{{ url_for('receive_kits') }}" method=post class=test>
    <h2>Receive kits</h2>
    <table>
      <tr><td><b>Subject ID</td></tr>
        <td><select name=Subject_ID>
        {% for entry in entries %}
        <option value="{{ entry.Subject_ID }}"> {{ entry.Subject_ID }}</option>
        {% endfor %}
      </select>
  </table>
  <br>
    <input type=submit value="Click to Recieve!">
    </form>
    {% endblock %}
