{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong>{{ error }}{% endif %}
  <form action="{{ url_for('schedule_blood') }}" method=post class=test>
    <h2>Schedule blood draw</h2>
    <table>
      <tr><td><b>Subject ID</td><td><b>Date</td></tr>
          <td><select name=Subject_ID>
              {% for entry in entries %}
              <option value="{{ entry.Subject_ID }}"> {{ entry.Subject_ID }}</option>
              {% endfor %}
      <td><input type=text id="datepicker" name=blooddraw_date></td></tr>
  </table>
  <br>
    <input type=submit value="Schedule blood">
    </form>
    {% endblock %}
