{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong>{{ error }}{% endif %}
  <form action="{{ url_for('send_kits') }}" method=post class=test>
    <h2>Send out kits</h2>
    <table>
      <tr><td><b>Subject ID</td><td><b>Count</td></tr>
          <td><select name=Subject_ID>
              {% for entry in entries %}
              <option value="{{ entry.Subject_ID }}"> {{ entry.Subject_ID }}</option>
              {% endfor %}
      <td><input type=text size=5 name=count></td></tr>
  </table>
  <br>
    <input type=submit value="Click to Send!">
    </form>
    {% endblock %}
