{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong>{{ error }}{% endif %}
  <form action="{{ url_for('send_check') }}" method=post class=test>
    <h2>Send Check</h2>
    <table>
      <tr><td><b>Subject ID</td><td><b>Amount</td><td><b>Purpose</td>
              <td><b>Number</td><td><b>Date Issued</td><td><b>Date to Patient</td></tr>
          <td><select name=Subject_ID>
              {% for entry in entries %}
              <option value="{{ entry.Subject_ID }}"> {{ entry.Subject_ID }}</option>
              {% endfor %}
              <td>20</td>
              <td><select name=event>
                  <option value="Initiation"> Initiation</option>
                  <option value="Completion"> Completion</option>
                  <option value="Kits returned">Kits returned</option>
                </select>
                <td><input type=text size=5 name=checknumber></td>
                <td><input type=text id="datepicker" name=eventdate></td>
                <td><input type=text id="datepicker2" name=checkdeliver></td>
            </tr>
  </table>
  <br>
    <input type=submit value="Submit">
    </form>
    {% endblock %}
