{% extends "layout.html" %}
{% block body %}
<div class=metanav>
</div>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form action="{{ url_for('add_form') }}" method=post class=addstudy>
	<dl>
	    <dt> UPN:    
	    <input type=text size=20 name=upn>
	    <dt>UW ID:
	    <input type=text size=10 name=uw_id>
	    <dt>Initials:
	    <input type=text size=10 name=initials>
	    <dt>Study PI:
	    <input type=text size=20 name=dob>
	    <dt>RN/Coord:
      <input type=text size=20 name=txtype>
	    <dt>Review Type:
	    <input type=text size=20 name=pre_screening_date>
	    <input type=text size=20 name=arrival_date>
	    <input type=text size=20 name=consent>
	    <input type=text size=20 name=consent_reason>
	    <input type=text size=20 name=consent_comments>
	    <input type=text size=20 name=randomize>
	    <input type=text size=20 name=baseline>
	    <input type=text size=20 name=allocation>
	    <input type=text size=20 name=txdate>
	    <input type=text size=20 name=injection1>
	    </textarea>
	    <br></br>
	    <input type=submit value=Submit>
	</dl>
    </form>
    <ul class=entries>
        <li><em>All fields optional except Protocol</em>
    </ul>
    {% endblock %}
