{% extends "layout.html" %}
{% block body %}
<div class=metanav>
</div>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form action="{{ url_for('add_form') }}" method=post class=addstudy>
      <dl>
        <h1>Screening and Randomization</h1>
        <table>
          <tr><td> UPN:</td>
            <td><input type=text size=10 name=upn></td>
            <td>UW ID:</td>
            <td><input type=text size=10 name=uw_id></td></tr>
          <tr><td>Initials:</td>
            <td><input type=text size=10 name=initials></td>
            <td>Date of Birth:</td>
            <td><input type=text size=10 name=dob></td></tr>
          <tr><td>Tx type:</td>
            <td><input type=text size=10 name=txtype value = "auto"></td></tr>

        </table>
        <br>
        <h1>Consent Information</h1>
        <table>
        <tr><td>Pre Screening Date</td>
          <td><input type=text size=20 name=pre_screening_date></td>
        <td>Arrival Date</td>
          <td><input type=text size=20 name=arrival_date></td></tr>
        <tr><td>Consent</td>
          <td><input type=text size=30 name=consent></td></tr>
        <tr><td>Consent Reason</td>
          <td><input type=text size=30 name=consent_reason></td></tr>
        <tr><td>Consent Comments</td>
          <td><input type=text size=20 name=consent_comments></td>
        <tr><td>Randomize Date</td>
          <td><input type=text size=20 name=randomize></td></tr>
        <tr><td>Baseline #</td>
          <td><input type=text size=20 name=baseline></tr>
        <tr><td>Allocation #</td>
          <td><input type=text size=20 name=allocation></tr>
    </table>
    <br>
    <h1>Transplant Info and Infection Dates</h1>
      <input type=text size=20 name=txdate>
	    <input type=text size=20 name=injection1>
	    </textarea>
	    <br></br>
	    <input type=submit value=Submit>
	</dl>
    </form>
    <ul class=entries>
        <li><em>All fields optional except Protocol</em>
    </ul>
    {% endblock %}
