{% extends "layout.html" %}
{% block body %}
{% block script %}
  <script type="text/javascript" src="/static/sorttable.js"></script>
  {% endblock %}
<ul class=metanav>
</ul>
  {% if error %}<p class=error><strong>Error</strong> {{ error }}{% endif %}
  <table class="sortable">
    <tr><td>UPN</td><td>UW ID</td><td>Initials</td><td>Tx date</td><td>Injection Date</td></tr>
    {% for entry in entries %}
    <tr><td>{{ entry.upn }}</td><td>{{ entry.uw_id }}</td><td>{{ entry.initials }}</td><td>{{ entry.txdate }}</td>
      <td>{{ entry.injection1 }}</td></tr>
    {% endfor %}
      </table>
{% endblock %}
