{% extends "layout.html" %}
{% block body %}
{% if g.user %}
<ul class=metanav>
</ul>
  {% if error %}<p class=error><strong>Error</strong> {{ error }}{% endif %}
      {% for entry in entries %}
      <h2>Allocation # <a href="{{url_for('id_edit', id_number=entry.allocation)}}">{{ entry.allocation }}</a></h2>
        <br>
<h2>Check Info</h2>
  <table>
    <tr><td><b>Visit</td><td><b>Check #</td><td><b>Amount</td><td><b>Date</td><td><b>Comments</td></tr>
  <tr><td>1</td>
    <td>{{ entry.check1no }}</td>
    <td>{{ entry.check1amt }}</td>
    <td>{{ entry.check1date }}</td>
    <td>{{ entry.check1comment }}</td></tr>
  <tr><td>2</td>
    <td>{{ entry.check2no }}</td>
    <td>{{ entry.check2amt }}</td>
    <td>{{ entry.check2date }}</td>
    <td>{{ entry.check2comment }}</td></tr>
  <tr><td>3</td>
    <td>{{ entry.check3no }}</td>
    <td>{{ entry.check3amt }}</td>
    <td>{{ entry.check3date }}</td>
    <td>{{ entry.check3comment }}</td></tr>
  <tr><td>4</td>
    <td>{{ entry.check4no }}</td>
    <td>{{ entry.check4amt }}</td>
    <td>{{ entry.check4date }}</td>
    <td>{{ entry.check4comment }}</td></tr>
  <tr><td>5</td>
    <td>{{ entry.check5no }}</td>
    <td>{{ entry.check5amt }}</td>
    <td>{{ entry.check5date }}</td>
    <td>{{ entry.check5comment }}</td></tr>
  <tr><td>6</td>
    <td>{{ entry.check6no }}</td>
    <td>{{ entry.check6amt }}</td>
    <td>{{ entry.check6date }}</td>
    <td>{{ entry.check6comment }}</td></tr>
  <tr><td>7</td>
    <td>{{ entry.check7no }}</td>
    <td>{{ entry.check7amt }}</td>
    <td>{{ entry.check7date }}</td>
    <td>{{ entry.check7comment }}</td></tr>
</table>
  {% endfor %}
</ul>
{% endif %}
    {% endblock %}
