{% extends "layout.html" %}
{% block body %}
{% if g.user %}
<ul class=metanav>
</ul>
{% endif %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form action="{{ url_for('add_form') }}" method=post class=addstudy>
      {% for entry in entries %}
      <dl>
        <h2>Screening and Randomization</h2>
        <table>
          <tr><td> UPN:</td>
            <td>{{ entry.upn }}</td>
            <td>UW ID:</td>
            <td>{{ entry.uw_id }}</td></tr>
          <tr><td>Initials:</td>
            <td>{{ entry.initials }}</td>
            <td>Date of Birth:</td>
            <td>{{ entry.dob }}</td></tr>
          <tr><td>Hispanic?</td>
            <td>{{ entry.hispanic }}</td>
            <td>Gender</td>
            <td>{{ entry.gender }}</td></tr>
              <tr><td>Ethnicity</td>
                <td>{{ entry.ethnicity }}</td></tr>
              </table>
        <br>
        <h2>Consent Information</h2>
        <table>
        <tr><td>Pre Screening Date</td>
          <td><{{ pre_screening_date }}></td>
        <td>Arrival Date</td>
        <td><{{ arrival_date }}></td></tr>
        <tr><td>Consent</td>
        <td>{{ entry.consent }}</td>
          <tr><td>Consent Reason</td>
            <td>{{ entry.consent_reason }}</td></tr>
        <tr><td>Consent Comments</td>
          <td>{{ entry.consent_comments }}</td>
        <tr><td>Randomize Date</td>
          <td>{{ entry.randomize }}</td></tr>
        <tr><td>Baseline #</td>
          <td>{{ entry.baseline }}</tr>
        <tr><td>Allocation #</td>
          <td>{{ entry.allocation }}</tr>
        <tr><td>Patient User ID #</td>
          <td>{{ entry.pt_userid }}</tr>
    </table>
    <br>
    <h2>Transplant Info and Infection Dates</h2>
    <table>
    <tr><td>Tx type:</td>
            <td>"auto"</td></tr>
    <tr><td>Tx Date:</td>
      <td>{{ entry.txdate }}</td></tr>
    <tr><td>Injection 1:</td>
      <td>{{ entry.injection1 }}</td></tr>
    <tr><td>Projected Injection 2:</td>
      <td> {{entry.injection2p }}</td>
      <td>Actual Injection 2:</td>
      <td><{{injection2a }}></td></tr>
    <tr><td>Projected Injection 3:</td>
      <td><{{injection3p }}></td>
      <td>Actual Injection 3:</td>
      <td><{{injection3a }}></td></tr>
    <tr><td>Projected Injection 3:</td>
      <td><{{injection3p }}></td>
      <td>Actual Injection 3:</td>
      <td><{{injection3a }}></td></tr>
    <tr><td>Projected Injection 4:</td>
      <td><{{injection4p }}></td>
      <td>Actual Injection 4:</td>
      <td><{{injection4a }}></td></tr>
    <tr><td>Projected Injection 5:</td>
      <td><{{injection5p }}></td>
      <td>Actual Injection 5:</td>
      <td><{{injection5a }}></td></tr>
    <tr><td>Projected Injection 6:</td>
      <td><{{injection6p }}></td>
      <td>Actual Injection 6:</td>
      <td><{{injection6a }}></td></tr>
    <tr><td>Projected Injection 7:</td>
      <td><{{injection7p }}></td>
      <td>Actual Injection 7:</td>
      <td><{{injection7a }}></td></tr>
  </table>
  {% endfor %}
	    <br></br>
	    <input type=submit value=Submit>
	</dl>
    </form>
    <ul class=entries>
        <em>All fields optional except UPN</em>
    </ul>
    {% endblock %}
