{% extends "layout.html" %}
{% block body %}
{% if g.user %}
<ul class=metanav>
</ul>
{% endif %}
  {% if error %}<p class=error><strong>Error</strong> {{ error }}{% endif %}
    <form action="{{ url_for('update_form') }}" method=post class=addstudy>
      {% for entry in entries %}
      <dl>
        <h2>Screening and Randomization</h2>
        <table>
          <tr><td> UPN</td>
            <td><input type=text size=20 name= upn value={{ entry.upn }}></td>
            <td>UW ID</td>
            <td><input type=text size=20 name=uw_id value={{ entry.uw_id }}></td></tr>
          <tr><td>Initials</td>
            <td><input type=text size=20 name=initials value={{ entry.initials }}></td>
            <td>Date of Birth</td>
            <td><input type=text size=20 name=dob value={{ entry.dob }}></td></tr>
          <tr><td>Hispanic?</td>
            <td><input type=text size=20 name=hispanic value={{ entry.hispanic }}></td>
            <td>Gender</td>
            <td><input type=text size=20 name=gender value={{ entry.gender }}></td></tr>
              <tr><td>Ethnicity</td>
                <td><input type=text size=20 name=ethnicity value={{ entry.ethnicity }}></td></tr>
              </table>
        <br>
        <h2>Consent Information</h2>
        <table>
        <tr><td>Pre Screening Date</td>
          <td><input type=text size=20 name=pre_screening_date value={{ entry.pre_screening_date }}></td>
          <td>Arrival Date</td>
          <td><input type=text size=20 name=arrival_date value={{ entry.arrival_date }}></td></tr>
        <tr><td>Consent</td>
          <td><input type=text size=20 name=consent value={{ entry.consent }}></td>
          <tr><td>Consent Reason</td>
            <td><input type=text size=30 name=consent_reason value="{{ entry.consent_reason }}"></td></tr>
        <tr><td>Consent Comments</td>
          <td><input type=text size=30 name=consent_comments value="{{ entry.consent_comments }}"></td>
        <tr><td>Randomize Date</td>
          <td><input type=text size=20 name=randomize value={{ entry.randomize }}></td></tr>
        <tr><td>Baseline #</td>
          <td><input type=text size=20 name=baseline value={{ entry.baseline }}></tr>
        <tr><td>Allocation #</td>
          <td><input type=text size=20 name=allocation value={{ entry.allocation }}></tr>
        <tr><td>Patient User ID #</td>
          <td><input type=text size=20 name=pt_userid value={{ entry.pt_userid }}></tr>
    </table>
    <br>
    <h2>Transplant Info and Infection Dates</h2>
    <table>
    <tr><td>Tx type</td>
      <td><input type=text size=20 name=txtype value={{ entry.txtype }}></td></tr>
    <tr><td>Tx Date</td>
      <td><input type=text size=20 name=txdate value={{ entry.txdate }}></td></tr>
    <tr><td>Injection 1</td>
      <td><input type=text size=20 name=injection1 value={{ entry.injection1 }}></td></tr>
    <tr><td>Projected Injection 2</td>
      <td><input type=text size=20 name=injection2p value={{ entry.injection2p }}></td>
      <td>Actual Injection 2</td>
      <td><input type=text size=20 name=injection2a value={{entry.injection2a }}></td></tr>
    <tr><td>Projected Injection 3</td>
      <td><input type=text size=20 name=injection3p value={{ entry.injection3p }}></td>
      <td>Actual Injection 3</td>
      <td><input type=text size=20 name=injection3a value={{ entry.injection3a }}></td></tr>
    <tr><td>Projected Injection 4</td>
      <td><input type=text size=20 name=injection4p value={{ entry.injection4p }}></td>
      <td>Actual Injection 4</td>
      <td><input type=text size=20 name=injection4a value={{ entry.injection4a }}></td></tr>
    <tr><td>Projected Injection 5</td>
      <td><input type=text size=20 name=injection5p value={{ entry.injection5p }}></td>
      <td>Actual Injection 5</td>
      <td><input type=text size=20 name=injection5a value={{ entry.injection5a }}></td></tr>
    <tr><td>Projected Visit 6</td>
      <td><input type=text size=20 name=injection6p value={{ entry.injection6p }}></td>
      <td>Actual Visit 6</td>
      <td><input type=text size=20 name=injection6a value={{ entry.injection6a }}></td></tr>
    <tr><td>Projected Visit 7</td>
      <td><input type=text size=20 name=injection7p value={{ entry.injection7p }}></td>
      <td>Actual Visit 7</td>
      <td><input type=text size=20 name=injection7a value={{ entry.injection7a }}></td></tr>
  </table>
  <br>
  <h2>Check info</h2>
  <table>
  <tr><td>Check Number</td>
    <td><input type=text size=20 name=check1no value={{ entry.check1no }}></td>
    <td>Check Amount</td>
    <td><input type=text size=20 name=check1amt value={{ entry.check1amt }}></td>
    <td>Check Date</td>
    <td><input type=text size=20 name=check1date value={{ entry.check1date }}></td></tr>
  <tr><td>Check Number</td>
    <td><input type=text size=20 name=check2no value={{ entry.check2no }}></td>
    <td>Check Amount</td>
    <td><input type=text size=20 name=check2amt value={{ entry.check2amt }}></td>
    <td>Check Date</td>
    <td><input type=text size=20 name=check2date value={{ entry.check2date }}></td></tr>
  <tr><td>Check Number</td>
    <td><input type=text size=20 name=check3no value={{ entry.check3no }}></td>
    <td>Check Amount</td>
    <td><input type=text size=20 name=check3amt value={{ entry.check3amt }}></td>
    <td>Check Date</td>
    <td><input type=text size=20 name=check3date value={{ entry.check3date }}></td></tr>
  <tr><td>Check Number</td>
    <td><input type=text size=20 name=check4no value={{ entry.check4no }}></td>
    <td>Check Amount</td>
    <td><input type=text size=20 name=check4amt value={{ entry.check4amt }}></td>
    <td>Check Date</td>
    <td><input type=text size=20 name=check4date value={{ entry.check4date }}></td></tr>
</table>
	    <br></br>
      <input type=submit value=Submit>
      {% else %}
      <h2>Sorry, that UPN does not exist in the database</h2>
  {% endfor %}
	</dl>
    </form>
    <ul class=entries>
        <em>All fields optional except UPN</em>
    </ul>
    {% endblock %}
