{% extends "layout.html" %}
{% block body %}
{% block script %}
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="/static/datefun.js"></script>
  <script type="text/javascript" src="/static/sorttable.js"></script>
{% endblock %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<h2>What would you like to do today?</h2>
<br>
<a href="{{ url_for('add_patient') }}">Add New Patient</a>
<br>
<a href="{{ url_for('query') }}">Edit Existing Patient</a>
<br>
<a href="{{ url_for('check_query') }}">Lookup a check number</a>
<br>
<a href="{{ url_for('all_patients') }}">View a table of all patients</a>
<br><br>
<h2>Does anyone need to be called today?</h2>
<br>
{{ entries }}
<table id="dates_table" class="sortable">
  <tr><td>Study ID</td><td>Initials</td><td>Next Call Date</td><td>Next Call Type</td></tr>
  {% for entry in entries %}
  <tr><td><a href="{{ url_for('id_edit', id_number=entry.allocation)}}">{{ entry.allocation }}</a></td><td>{{ entry.initials}}</td>
    <td class="date">{{ entry.expected_calldate }}</td><td>{{ entry.calltype }}</td>
    {% endfor %}
  </table>
  {% endblock %}
