{% extends "layout.html" %}
{% block body %}
{% block script %}
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="/static/datefun.js"></script>
  <script type="text/javascript" src="/static/sorttable.js"></script>
{% endblock %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<h2>What would you like to do today?</h2>
<br>
<a href="{{ url_for('add_patient') }}">Add New Patient</a>
<br>
<a href="{{ url_for('query') }}">Edit Existing Patient</a>
<br>
<a href="{{ url_for('check_query') }}">Lookup a check number</a>
<br>
<a href="{{ url_for('all_patients') }}">View a table of all patients</a>
<br><br>
<h2>Does anyone need to be called today?</h2>
<br>
<table id="dates_table" class="sortable">
  <tr><td>Study ID</td><td>Visit 5</td><td>Call Date</td></tr>
  {% for entry in entries %}
  <tr><td>{{ entry.allocation }}</td><td>{{ entry.injection5p }}</td><td class="date">{{ entry.phonecall }}</td>
    {% endfor %}
  </table>
  {% endblock %}
