{% extends "layout.html" %}
{% block body %}
{% if g.user %}
<ul class=metanav>
</ul>
  {% if error %}<p class=error><strong>Error</strong> {{ error }}{% endif %}
    <form action="{{ url_for('submit_removal') }}" method=post class=addstudy>
        <h2>Remove Patient</h2>
        <table>
        <tr><td>Allocation #</td>
          <td><input type=text size=20 name=allocation>
            <tr><td>Date Off Study</td>
              <td><input type=text size=20 name=pt_offstudy>
                <td>Reason for Leaving Study</td>
                <td><select name=offstudyreason>
                    <option value="death">Death</option>
                    <option value="screenfailure">Screen Failure</option>
                    <option value="unwilling">Unwillingness to Continue</option>
                    <option value="other">Other</option>
                  </select>
                </table>
                <br>
                <input type=submit value=Submit>
{% endif %}
    {% endblock %}
