{% extends "layout.html" %}
{% block body %}
{% block script %}
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/sorttable.js"></script>
<script type="text/javascript" src="/static/add_date.js"></script>

  {% endblock %}
  {% if g.user %}
  <h2>Progress of all patients on study as of <span id="Date"></span></h2><br>
  {% if error %}<p class=error><strong>Error</strong> {{ error }}{% endif %}
  <table>
    <tr class="d0"><td><b>Visit</b></td><td><b>Count</b></td></tr>
    <tr class="d1"><td>Visit 1</td><td>{{ visit1[0]['COUNT(check1no)'] }}</td></tr>
    <tr class="d2"><td>Visit 2</td><td>{{ visit2[0]['COUNT(check2no)']}}</td></tr>
    <tr class="d1"><td>Visit 3</td><td>{{ visit3[0]['COUNT(check3no)']}}</td></tr>
    <tr class="d2"><td>Visit 4</td><td>{{ visit4[0]['COUNT(check4no)']}}</td></tr>
    <tr class="d1"><td>Visit 5</td><td>{{ visit5[0]['COUNT(check5no)']}}</td></tr>
    <tr class="d2"><td>Visit 6</td><td>{{ visit6[0]['COUNT(check6no)']}}</td></tr>
    <tr class="d1"><td>Visit 7</td><td>{{ visit7[0]['COUNT(check7no)']}}</td></tr>
  </table>
  <br><br>
  <h2>Summary of patients on study</h2>
  <table>
    <tr class="d0"><td><b>Status</td><td><b>Count</td></tr>
    <tr class="d1"><td># Active</td>
        <td>{{ active[0]['COUNT(status)'] }}</td></tr>
    <tr class="d2"><td># Screen failure</td>
        <td>{{ screenfail[0]['COUNT(offstudyreason)'] }}</td></tr>
    <tr class="d1"><td># Deceased</td>
        <td>{{ death[0]['COUNT(offstudyreason)'] }}</td></tr>
    <tr class="d2"><td># Withdrawal / Early Termination</td>
        <td>{{ withdraw[0]['COUNT(offstudyreason)'] }}</td></tr>
  </table>
  {% endif %}
{% endblock %}
